{% extends "index.html" %}


    {% block content %}
	
	<ul>
		{% for pr in object_list %}
		    <!--<p>{{ pr.name }}</p>-->
			<a href="{% url "products:detail" pr.id %}"><img class="img" src="{{ pr.image.url }}" alt=""></a>
			<br>
			<a href="{% url "products:detail" pr.id %}" class="botonesg">$ {{ pr.price }}  USD</a>	
			<br>
		{% endfor %}
	</ul>
	{% endblock %}

