{% extends "index.html" %}
{% block content %}

	<header id="productHeader"><h1>{{ product.name }}</h1>
	</header>

	<p>
		{{ product.category }}  $
		{{ product.price }}
	</p>
	
	<img src="{{ product.image.url }}" alt="">
	<a href="/" class="botonesg">Back</a>

{% endblock %}