body{
	font-family: "Helvetica";
	background: url(img/bg.png);
	margin: 0 auto;
	padding: 0;

}
h1{
	margin: 0;
}
p{

}
div.contenedor{
	width: 1000px;
	margin: 0 auto;
}
#mainHeader{
	background-position:  center center;
	background-color: #448AFF;
	height: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,1); 
	padding: 10px;
}
h1.logo{
	text-transform: uppercase;
	color: #FFF;
	line-height: 100px;
	width: 400px;
	float: left;
	letter-spacing: 15px;
}
.myButton {
	background-color:#2979FF;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:3px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color:#448AFF;
	top: -1px;
}
.myButton:active {
	position:relative;
	top:1px;
}



img{
	width: 250px;
	height: 200px;
    border: 5px solid #82B1FF;
    float: center;
    margin: 15px;
    -webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    position: relative;
    transition: opacity 300ms;

}
 
img:hover {
    top: -2px;
    opacity: .9;
}

#productHeader{
	background-color: #2979FF;
	height: 50px;
	color: #FFF;
	box-shadow: 0px .5px 1px rgba(0,0,0,.5);

}

a.botonesh{
	padding: 7px;
	background: #2979FF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #FFF;
	text-decoration: none !important;
	transition: opacity 250ms;
	transition-box-shadow: 0.3s;
	float: right;
	margin: 30px 10px;
	box-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
a.botonesh:hover{
	opacity: .7;
	box-shadow: 0px 0px 3px rgba(0,0,0,.7);
}

a.botonesg{
	padding: 3px;
	background: #2979FF;
	border-radius: 4px;
	color: #FFF;
	text-decoration: none !important;
	box-shadow: 0px 0px 2px rgba(0,0,0,.5);
	transition: opacity 300ms;
	-webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    position: relative;
}

a.botonesg:hover{
	opacity: .8;
	top: -1px;
}

























