<!DOCTYPE html>
<html lang="en">
<head>

	{% load staticfiles %}
    <meta chatset="UTF-8">
	<title>Tienda OP</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<header id="mainHeader" ><div class="contenedor">
		
	<a href="/"><h1 class="logo">Tienda OP</h1></a>
	{% if user.is_superuser %}
	    <a href="admin/" class="botonesh">Admin</a>
	
	{% endif %}
	{% if user.is_staff %}
	    <a href="{% url "products:new" %}" class="botonesh">New Product</a>

	{% endif %}
	{% if user.is_authenticated %}   
	
	<a href="{% url "userslog:logout" %}" class="botonesh">Logout</a>
	
	{% else %}

	<a href="{% url "userslog:authentication" %}" class="botonesh">Login</a>

	{% endif %}</div></header>

</head>
<body>

    {% block content %}
	
	<ul>
		{% for pr in product %}
		    <!--<p>{{ pr.name }}</p>-->
			<a href="{% url 'products.views.product_detail' pk=pr.pk %}"><img class="img" src="{{ pr.image.url }}" alt=""></a>
			<br>
				<a href="{% url 'products.views.product_detail' pk=pr.pk %}" class="prnom">$ {{ pr.price }}  USD</a>
			<br>
		{% endfor %}
	</ul>
	{% endblock %}
</body>
</html>