{% extends "index.html" %}
{% block content %}
<h1>Login</h1>
	<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="login">

		<input type="text" name="username">
		<input type="password" name="password">

		<button type="submit" class="myButton">Login</button>
		
	</form>
	<br>
	<a href="/" title="" class="botonesg">Back</a>
{% endblock %}

