{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>New Article</title>
	<link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>
	{% block content %}
	<h1>New Article</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
		<a href="/"><p>Back</p></a>

	</form>
	{% endblock %}
</body>
</html>