<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>{{ product.name }}</title>
	
	<link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>
	<header id="productHeader"><h1 style="color:#E3F2FD">{{ product.name }}</h1>
	<h2 style="color:#E3F2FD">{{ product.description }}</h2></header>

	<p>
		{{ product.category }}  $
		{{ product.price }}
	</p>

	<img src="{{ product.image.url }}" alt="">
	<a href="/">Back</a>
</body>
</html>